---
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";
import Layout from "../../layouts/Layout.astro";
import Contents from "../../components/Contents.astro";

export async function getStaticPaths({
	paginate,
}: {
	paginate: PaginateFunction;
}) {
	const posts = await getCollection("posts");

	return paginate(posts, { pageSize: 2 });
}

const { page } = Astro.props;
---
<Layout title={`Posts - Page ${page.currentPage}`}>
    <Contents>
        <h1>Page {page.currentPage}</h1>
        <ul>
            {page.data.map((post) => <li><a href=`${post.id}`>{post.data.title}</a></li>)}
        </ul>
    </Contents>
</Layout>
