---
import ThemeToggle from "./ThemeToggle.astro"
---
<header>
    <div>
        <span>
          B"H <a href="/posts/1"><b>Mendel Greenberg</b></a>
        </span>
        <nav>
            <ThemeToggle />
            <a class="button" href="/posts/1">Posts</a>
        </nav>
    </div>
</header>

<style>
    header {
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: center;

        font-family: var(--font-sans);
    }

    div {
        width: var(--content-width);

        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        color: var(--color);
    }

    .button {
      border: 1px solid var(--color);
      padding: 0.5rem 1rem;
    }

    a.button {
      vertical-align: top;
    }
</style>
